name: publish

on:
  push:
    tags: [ v* ]
  workflow_dispatch:

jobs:
  build-publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup dotNET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          6.x
          7.x
          8.x
          9.x
          10.x
    - name: Build
      run: |
        dotnet pack --version-suffix $(date "+%Y.%m%d") -c Release -o out NewLife.MySql/NewLife.MySql.csproj
        dotnet pack --version-suffix $(date "+%Y.%m%d") -c Release -o out NewLife.MySql.EntityFramework/NewLife.MySql.EntityFramework.csproj
        dotnet pack --version-suffix $(date "+%Y.%m%d") -c Release -o out NewLife.MySql.EntityFrameworkCore/NewLife.MySql.EntityFrameworkCore.csproj
    - name: Publish
      run: |
        dotnet nuget push ./out/*.nupkg --skip-duplicate --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.nugetKey }}
